window {
  font-family: "Fira Code";
  margin: 0px;
  border: 5px solid rgba(0, 0, 0, 0.9);
  border-top: none;
  background-color: rgba(29, 31, 33, 0.95);
  border-radius: 0 0 10px 10px;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: rgba(0, 50, 70, 0.95); /*rgba(55, 59, 65, 0.95);*/
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #c5c8c6;
}

#entry {
  border: none;
}

#entry:focus {
  border: none;
}

#entry:selected {
  background-color: rgba(0, 50, 70, 0.95); /*rgba(55, 59, 65, 0.95);*/
  border-radius: 5px;
  border: none;
}
